{% extends "layout.html" %}

{% block content %}
<form action="/checklist/save/" method="POST" enctype="multipart/form-data" id="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="county" value="{{ county }}" />
    <input type="hidden" name="district" value="{{ district }}" />

    <div class="page-header">
        <h4>Отчет о мероприятии</h4>
    </div>

    <div class="col-xs-12">
        <div class="row mt10">
            <div class="col-xs-5">
                <label>Объект</label>
            </div>
            <div class="col-xs-7 text-right">
                <div class="form-xs">
                <select class="form-control" name="executor" id="executor">
                    <option value="">[ ... выберите из списка ... ]</option>
                </select>
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row mt10">
            <div class="col-xs-5">
                <label>Мероприятие</label>
            </div>
            <div class="col-xs-7 text-right">
                <div class="form-xs">
                <select class="form-control" name="activity" id="activity">
                    <option value="">[ ... выберите из списка ... ]</option>
                </select>
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row mt10">
            <div class="col-xs-5"><label>Дата</label></div>
            <div class="col-xs-7 text-right">
                <div class="form-xs">
                    <input type="date" name="date" class="form-control" />
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row mt10">
            <div class="col-xs-8"><label>Количество участников</label></div>
            <div class="col-xs-4 text-right">
                <div class="form-xs">
                    <input type="number" name="visitors" class="form-control" style="text-align: right" />
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row mt10">
            <div class="col-xs-5"><label>Фотография</label></div>
            <div class="col-xs-7 text-right">
                <div class="form-xs">
                    <input type="file" name="photo" id="photo" class="form-control" accept="image/*" />
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row mt30">
            <div class="col-xs-12">
                <input type="button" class="btn btn-primary pull-right ml5" id="form-save" value="Сохранить" />
                <a href="/" class="btn btn-default pull-right">Отмена</a>
            </div>
        </div><!-- /.row -->
    </div>
</form><!-- /form -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.data = {{ collection|tojson }};
    </script>
    <script type="text/javascript">
        require(['checklist.view']);
    </script>
{% endblock %}
