{% extends "layout.html" %}

{% block content %}
<h2>
    <span>Выберите район</span>
    
</h2>
{% if not session.user %}
    <p>
        для отправки отчета требуется <a href="/register/">регистрация</a> 
        или <a href="/login/">авторизация</a>.
    </p>
{% endif %}

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="filter" class="form-control" placeholder="введите начальные буквы района" aria-describedby="basic-addon1">
</div>

<div class="row">
    {% for county in counties %}
    <div class="col-xs-12 col-sm-12 col-md-4 js-county">
        <div class="page-header">
            <h4>{{ county }}</h4>
        </div>
        {% for item in districts[county] %}
            <div class="media js-district" data-item="{{item}}">                    
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/checklist/{{county}}/{{item}}/">{{ item }}</a>
                    </h4>
                </div><!-- // div.media -->
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['index.view']);
    </script>
{% endblock %}
