<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-3.3.6/css/bootstrap.yeti.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/static/content/bootstrap-3.3.6/css/bootstrap-checkbox.css" />-->
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
	<script src="/static/content/modernizr-2.6.2/modernizr.js"></script>
</head>

<body>
    <header class="navbar navbar-default navbar-inverse navbar-fixed-top navbar-mobile">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/img/longevity_small.png" style="display:inline" />Активное долголетие</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav id="bs-navbar" class="navbar-collapse collapse" aria-expanded="false">
                {% if request.authorization %}
                    <ul class="nav navbar-nav">
                        <li><a href="/activities/">Мероприятия</a></li>
                        <li><a href="/reports/">Отчеты</a></li>
                        <li><a href="/dashboard/">Графики</a></li>
                    </ul>
                {% endif %}
            </nav><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% block content %}{% endblock %}
            </div><!-- /.col-*-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <!-- BEGIN scripts -->
    <script src="/static/content/require-2.1.22/require.min.js"></script>
    {% if debug %}
    <script src="/static/scripts/config.dev.js"></script>
    {% else %}
    <script src="/static/scripts/config.prod.js"></script>
    {% endif %}
    {% block scripts %}{% endblock %}
	<!-- END scripts -->
</body>
</html>
