{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block content %}

<h2>Отчеты по мероприятиям</h2>

<table class="table table-hover" id="reports">
    <thead>
        <tr>
            <th>##</th>
            <th>Автор</th>
            <th>Направление</th>
            <th>Название</th>
            <th>Район</th>
            <th>Место проведения</th>
            <th>Дата отчета</th>
            <th>Кол-во участников<br/>(план/факт)</th>
            <th>Фото</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                {{ form.category(class_='form-control js-selector') }}
            </td>
            <td>
                {{ form.name(class_='form-control js-selector') }}
            </td>
            <td>
                {{ form.district(class_='form-control js-selector') }}
            </td>
            <td>
                {{ form.executor(class_='form-control js-selector') }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for rep in reports %}
        <tr>
            <td>{{ rep.id }}</td>
            <td>
                {% if rep.reporter %}{{ rep.reporter.fullname }}{% else %}None{% endif %}
            </td>
            <td>{{ rep.activity.category }}</td>
            <td>{{ rep.activity.name }}</td>
            <td>{{ rep.activity.county  }} / {{ rep.activity.district }}</td>
            <td>{{ rep.activity.executor }}</td>
            <td>{{ rep.issued.strftime("%d.%m.%Y") }}</td>
            <td>{{ rep.activity.planned_visitors }} / {{ rep.visitors }}</td>
            <td><a href="#" class="js-view-photo" data-source="{{rep.image_source}}">просмотр</a></td>
            <td>
                edit / <a href="/reports/delete/{{rep.id}}/{{pagination.page}}/">remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">
                {{ render_pagination(pagination) }}
            </td>
        </tr>
    </tfoot>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Просмотр фотографии</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8" id="image-preview">
                    </div>
                    <div class="col-xs-4" id="image-exif">
                    </div>
                </div>                    
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['reports.view']);
    </script>
{% endblock %}