/* 
  Based on http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3 
*/

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
  left: 0;
  right: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0px;
  z-index: 1030;
  background-color: #fff;
  padding-bottom: 4px;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li:first-of-type {
    margin-left: 4px;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* Mine */
body {
    padding-top: 50px;
    padding-bottom: 90px;
}

.navbar-mobile .navbar-brand {
    padding: 9px 12px;
}

.navbar-brand img {
    height: 25px;
}

.panel-mobile .panel-heading {
    padding: 0px;
}

.panel-mobile .panel-body {
    padding: 0px;
}

/* --- begin margins and paddings --- */
.mt10 {
    margin-top: 10px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.ml5 {
    margin-left: 5px !important;
}
.mr5 {
    margin-right: 5px !important;
}
/* --- end margins and paddings --- */

/* --- begin mobile form styles --- */
input[type='date'],
input[type='time'] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type='text'],
input[type='number'],
input[type='date'],
input[type='time'],
select,
textarea {
  font-size: 16px !important;
}
label {
    font-size: 16px;
}
.checkbox label {
    font-size: 16px;
}
.radio label, .checkbox label {
  padding-left: 30px;
}
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    margin-top: 4px;
    min-height: 18px; 
    min-width: 18px;
    margin-left: -27px;
}
.mobile-form.auto-width {
  width: auto;
  display: inline;
}
label.mobile-form {
  padding: 4px 6px;
}
input.mobile-form {
  padding: 4px 6px;
}
select.mobile-form {
  padding: 4px 6px;
}
.question {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ddd;
}
.question .btn {
    width: 54px;
}
/* --- end mobile form styles --- */